<div style="margin-top:30px">
    <form method="post" asp-controller="home" asp-action="demo">
        <input  placeholder="nhap coookie" name="txtcookie" />
        <button type="submit">nop</button>
    </form>

</div>